.admin-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.admin-sidebar-col {
    width: 290px;
}

.admin-sidebar {
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    background: #101010;
    box-shadow: 1px 0px 14px 0px #00000078;
}

.admin-content {
    width: -webkit-fill-available;
    height: 100%;
    overflow: auto;
}

.admin-heading {
    color: black;
    margin-bottom: 15px;
    font-size: 26px;
    text-transform: uppercase;
}

/* admin header */

header.admin-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 25px;
    box-shadow: 0 0 10px #0000001a;
}

.inner-admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.page-title {
    width: 50%;
}

.page-title h2 {
    font-size: 19px;
    font-weight: 600;
}

.user-info-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-end;
    gap: 10px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.user-info img {
    width: 36px;
    border-radius: 50%;
}

.user-info p {
    font-weight: 700;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: -4px;
}

.user-info p span {
    font-weight: 400;
    font-size: 12px;
}

.user-info-hover {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 50px;
    box-shadow: 0px -4px 17px 4px #0000000d;
    background: white;
    gap: 5px;
}

.user-info-hover:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    top: -5px;
    right: 15px;
    transform: rotate(45deg);
}

.user-info-hover a {
    font-size: 14px;
    font-weight: 300;
    color: #313131;
}