.admin-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.admin-sidebar {
    max-width: 250px;
    height: 100%;
    padding: 20px 15px;
    width: 100%;
    background: #101010;
    box-shadow: 1px 0px 14px 0px #00000078;
}

.admin-content {
    width: 100%;
    height: 100%;
}

.admin-heading {
    color: black;
    margin-bottom: 15px;
    font-size: 26px;
    text-transform: uppercase;
}