.user-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.users-table {
    max-width: 100%;
}

select.user-bulk-action {
    margin-top: 15px;
    padding: 5px 15px;
    border: 1px solid #00000040;
    border-radius: 5px;
}

a.user-edit-btn {
    padding: 4px 15px;
    background: #1a6ceb;
    color: white;
    border-radius: 3px;
}

a.user-delete-btn {
    padding: 4px 15px;
    background: #eb1a1a;
    color: white;
    border-radius: 3px;
}

.user-bulk-action-btn {
    padding: 4px 11px;
    margin-left: 7px;
    background: #1a6ceb;
    border-radius: 3px;
    border: none;
    color: white;
}

.action-td {
    display: flex;
    gap: 5px;
}