    <title>Register</title>
    <link rel="stylesheet" href="stylesheets/register.css">
    <link rel="stylesheet" href="stylesheets/form.css">

</head>
<body>
    <div class="register-container">
        <div class="register-form">
            <h2 class="form-title">Register</h2>
            <form action="/register" method="post">

                <div class="form-field">
                    <label for="username">username</label>
                    <div class="modern-input">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="username" required>
                    </div>
                </div>
                <div class="form-field">
                    <label for="email">Email Address</label>
                    <div class="modern-input">
                        <i class="fa-solid fa-at"></i>
                        <input type="email" name="email" required>
                    </div>
                </div>
                <div class="form-field">
                    <label for="password">Password</label>
                    <div class="modern-input">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" name="password" required>
                    </div>
                </div>
                <input type="submit" >

                {{#if registerError}}
                    <div class="errmessage">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <p class="message">{{errorMessage}}</p>
                    </div>
                {{/if}}
                
            </form>
        </div>
    </div>
</body>