.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}

.login-form {
    max-width: 320px;
    width: 100%;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 4px 16px 2px #0000000d;
    border-radius: 5px;
}

h2.form-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 30px;
}
