table {
    max-width: 910px;
    width: 100%;
    border-spacing: 0;
    border: 1px solid #0000001c;
    border-bottom: none;
}

table thead {
    background: #e9e9e9;
}

th {
    padding: 5px 15px;
    text-align: left;
}

td {
    padding: 10px 15px;
    font-size: 14px;
    border-bottom: 1px solid #0000001c;
}