    <title>All Users</title>
    <link rel="stylesheet" href="/stylesheets/admin/admin.css">
    <link rel="stylesheet" href="/stylesheets/admin/admin-sidebar.css">
</head>
<body>
    <div class="admin-container">
        <div class="admin-sidebar">
            {{>admin-sidebar}}
        </div>
        <div class="admin-content">
            
        </div>
    </div>
</body>